body {
    background-color: rgb(147, 216, 223);
    font-family: 'Montserrat', sans-serif;
}

.mouse {
    cursor: pointer;
}

a i {
    color: black;
}

pre#preformateado {
    font-family: 'Courier New', Courier, monospace;
}

.w3-animate-opacity {
    animation: opac 2s
}

@keyframes opac {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

img#kitty,
img#kitty2,
img#kitty3,
img#kitty4 {
    width: 50%;
    display: block;
    margin: auto;
    filter: opacity(0.7);
}

.big {
    font-size: 24px;
    animation: textcolor 60s;
    animation-fill-mode: backwards;
}

@keyframes textcolor {
    0% {
        color: white
    }
    10% {
        color: blue
    }
    20% {
        color: red
    }
    30% {
        color: white
    }
    40% {
        color: blue
    }
    50% {
        color: red
    }
    60% {
        color: white
    }
    70% {
        color: blue
    }
    80% {
        color: red
    }
    90% {
        color: blue
    }
    100% {
        color: red
    }
}